#
# Copyright (c) 2023 Deemen17
# SPDX-License-Identifier: MIT
#

config BOARD_VUA_DONGLE
	def_bool $(shields_list_contains,vua_dongle)

config BOARD_VUA_LEFT
	def_bool $(shields_list_contains,vua_left)

config BOARD_VUA_RIGHT
	def_bool $(shields_list_contains,vua_right)