#
# Copyright (c) 2023 Deemen17
# SPDX-License-Identifier: MIT
#

config BOARD_VUA_DONGLE_DISPLAY
	def_bool $(shields_list_contains,vua_dongle_display)

config BOARD_VUA_DONGLE_SIMPLE
	def_bool $(shields_list_contains,vua_dongle_simple)

config BOARD_VUA_LEFT
	def_bool $(shields_list_contains,vua_left)

config BOARD_VUA_RIGHT
	def_bool $(shields_list_contains,vua_right)